p{
    font-size: 25px;
}
.druga{
    margin-left: 75px;
}
.treca{
    margin-top: 35px;
}
.cet{
    margin-left: 75px;
}
.but{
    margin-top: 30px;
    margin-bottom: 20px;
}
#texts{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-bottom: 150px;
}
